html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

a{
    text-decoration:none;
}

#header{
    background-color:rgb(125, 207, 255);
    height: 100px;
    line-height:100px;
    text-align:center;
    top: 0px;
    font-size: 40px;
}
.project-title{
    position: relative;
    height: 90px;
    line-height: 90px;
    width: 25%;
    top:5px;
    bottom:5px;
    text-align: center;
    float: left;
    left: 5px;
    font-size: 70px;
    background-color: rgb(0, 132, 255);
    color: rgb(255, 255, 255);
    font-family: fantasy;
    border-radius: 10px;
}
.project-title:hover{
    background-color: rgb(0, 17, 255);
    color: white;
    text-decoration: none;
}
.userstate{
    position: relative;
    height: 90px;
    line-height: 90px;
    top:5px;
    bottom:5px;
    text-align: center;
    float: right;
    right: 5px;
    padding: 0px 10px 0px;
    font-size: 40px;
    background-color: rgb(0, 132, 255);
    color: rgb(255, 255, 255);
    font-family: fantasy;
    border-radius: 10px;
}
.userstate:hover{
    background-color: rgb(0, 17, 255);
    color: white;
    text-decoration: none;
}

#sidebar{
    background-color:rgb(255, 230, 215);
    width:30%;
    height:634px;
    text-align:center;
    line-height:634px;
    float:left;
    left:0px;
    font-size: 40px;
}
.friends{
    position: relative;
    background-color: rgb(248, 66, 66);
    width: 100%;
    height: 60px;
    line-height: 60px;
    top: 0px;
    text-align: center;
    font-size: 40px;
    color: white;
}
.addfriends{
    position: relative;
    background-color: rgb(255, 133, 111);
    width: 100%;
    height:40px;
    line-height: 40px;
    text-align: left;
    font-size: 20px;
    color: black;
}
.addfriends-form{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    float: left;
    top: 5px;
    bottom: 5px;
    left: 5px;
    font-size: 16px;
    padding: 0px 10px 0px;
    border: 2px rgb(211, 0, 0) solid;
    border-radius: 5px;
    cursor: text;
    color: black;
}
.addfriends-btn{
    position: relative;
    background-color: rgb(255, 0, 0);
    width: 20%;
    height: 30px;
    line-height: 20px;
    text-align: center;
    float: right;
    top: 5px;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}
.addfriends-btn:hover{
    background-color: yellow;
    color: black;
}
.member-window{
    position: relative;
    background-color:rgb(255, 230, 215);
    width:100%;
    height:534px;
    text-align:left;
    padding: 20px;
    line-height:40px;
    overflow-y:scroll;
    left:0px;
    font-size: 20px;
    background: -webkit-linear-gradient(rgb(255, 230, 215),rgb(255, 133, 111));
    background: -moz-linear-gradient(rgb(255, 230, 215),rgb(255, 133, 111));
    background: linear-gradient(rgb(255, 230, 215),rgb(255, 133, 111));
}


#content{
    background-color:rgb(248, 248, 248);
    width:70%;
    height:634px;
    text-align:center;
    line-height:634px;
    float:right;
    right:0px;
    font-size: 40px;
}
.text-box{
    position: relative;
    background-color: rgb(110, 255, 110);
    width: 100%;
    height: 100px;
    bottom: 0px;
    text-align: center;
    line-height: 100px;
}
.text-area{
    position: relative;
    background-color: rgb(241, 255, 244);
    width: 85%;
    height: 80px;
    top: 10px;
    bottom: 10px;
    left:10px;
    text-align: left;
    float:left;
    line-height: 25px;
    font-size: 16px;
    color: black;
    cursor: text;
    border: 3px rgb(0, 197, 0) double;
    border-radius: 5px;
    resize:none;
    overflow: hidden;
}
.summit-btn{
    position: relative;
    background-color: rgb(241, 255, 244);
    width: 10%;
    height: 80px;
    line-height: 80px;
    top: 10px;
    bottom: 10px;
    right:10px;
    text-align: center;
    float: right;;
    font-size: 60px;
    font-family: fantasy;
    color: rgb(13, 110, 0);
    cursor: pointer;
    border: 5px rgb(0, 197, 0) solid;
    border-radius: 10px;
}
.summit-btn:hover{
    background-color: yellow;
}
.chat-content{
    position: relative;
    background-color: rgb(229, 250, 227);
    width: 100%;
    height: 534px;
    top: 0px;
    padding: 10px;
    text-align: center;
    text-align: left;
    line-height: 40px;
    font-size: 20px;
    overflow-y:scroll;
    background: -webkit-linear-gradient(rgb(229, 250, 227),rgb(184, 255, 184));
    background: -o-linear-gradient(rgb(229, 250, 227),rgb(184, 255, 184));
    background: -moz-linear-gradient(rgb(229, 250, 227),rgb(184, 255, 184));
    background: linear-gradient(rgb(229, 250, 227),rgb(184, 255, 184));
}
.sentence{
    position: relative;
    background-color: green;
    height: auto;
    float: left;
    margin: 5px;
    max-width: 50%;
    left: 10px;
    padding: 5px;
    text-align: left;
    line-height: 20px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    word-break: break-all;
    clear:both;
}
.mine-senten{
    position: relative;
    background-color: rgb(19, 23, 255);
    height: auto;
    margin: 5px 10px 5px;
    max-width: 50%;
    left: 10px;
    padding: 5px;
    text-align: left;
    line-height: 20px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    word-break: break-all;
    clear:both;
}
.timer{
    position: relative;
    height: auto;
    width: auto;
    margin: 0px 15px 0px;
    line-height: 12px;
    font-size: 12px;
    color: black;
}
.mine-timer{
    position: relative;
    height: auto;
    width: auto;
    line-height: 12px;
    font-size: 12px;
    color: black;
}
.name{
    position: relative;
    height: auto;
    width: auto;
    margin: 0px 15px 0px;
    line-height: 12px;
    font-size: 12px;
    color: black;
}
.mine{
    position: relative;
    height: auto;
    width: auto;
    margin: 0px 5px 0px;
    line-height: 12px;
    font-size: 12px;
    color: black;
}